<div class="main-container">
  <div class="index-header">
    <%= image_tag 'dog_logo.png', alt: 'dog_logo', width: '55px' %>
  </div>

  <br>
  <div class="container">
    <% @dogs.each do |dog| %>
      <%= link_to  dog_path(dog.id), class: "dog-link" do %>
        <div class="card-product">
          <%= cl_image_tag dog.image.key, height: 80, width: 80, crop: :fill  %>
          <div class="card-product-infos">
            <h2><%= dog.name %></h2>
          </div>
          <div class="dots-container">
            <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
      <% end %>
    <% end %>

  <!-- <div class="container"> -->
      <div class="card-product">
        <i class="fas fa-circle"></i>
        <div class="card-product-infos">
          <h3>Add me</h3>
        </div>
        <div class="icon-container">
          <%= link_to new_dog_path do %>
            <i class="fas fa-plus"></i>
            <% end %>
        </div>
      </div>
    <!-- </div> -->
  </div>

</div>


