<h1>New Dog</h1>



<%= simple_form_for(@dog) do |f| %>
<h2>DOG INFO</h2>
  <%= f.input :name %>

  <%= f.input :breed %>

  <%= f.input :pick_up_address %>

  <%= f.input :special_requirements %>
<!-- <h2>OWNER INFO</h2>
    <%#= f.fields_for :owners do |owner| %>
    <%#= owner.input :first_name %>
    <%#= owner.input :last_name %>
    <%#= owner.input :telephone_number %>
    <%#= owner.input :email %> -->
<!--   <%#= f.input :first_name %>

  <%#= f.input :last_name %>

  <%#= f.input :telephone_number %>

  <%#= f.input :email %> -->

  <%= f.submit %>
<% end %>

<%= link_to "Cancel", dogs_path %>
