<h1>New Dog</h1>

<%= simple_form_for @owner do |m| %>
<h2>Owner Info:</h2>
  <%= m.input :first_name %>
  <%= m.input :last_name %>
  <%= m.input :telephone_number %>
  <%= m.input :email %>
<h2>Dog Info:</h2>
  <%= m.simple_fields_for :dogs do |p| %>
    <%= p.input :name %>
    <%= p.input :breed %>
    <%= p.input :pick_up_address %>
    <%= p.input :special_requirements %>
    <%= p.input :image, as: :file %>
  <% end %>
  <%= m.submit %>
<% end %>

<%#= simple_form_for(@dog) do |f| %>
<!-- <h2>DOG INFO</h2> -->

<!-- <h2>OWNER INFO</h2>
    <%#= f.fields_for :owners do |owner| %>
    <%#= owner.input :first_name %>
    <%#= owner.input :last_name %>
    <%#= owner.input :telephone_number %>
    <%#= owner.input :email %> -->
<!--   <%#= f.input :first_name %>

  <%#= f.input :last_name %>

  <%#= f.input :telephone_number %>

  <%#= f.input :email %> -->


<%# end %>

<%= link_to "Cancel", dogs_path %>
