<div class="container">
<div>
  <div class="header">
  <h1><%= @dog.name %></h1>
  </div>

  <ul>
    <li><%= cl_image_tag @dog.image.key, height: 100, width: 100, crop: :fill %></li>
    <li>Breed: <%= @dog.breed %></li>
    <li>Special Requirements: <%= @dog.special_requirements %></li>
    <h2>Owner Info:</h2>
    <li>Owner: <%= @dog.owner.first_name %> <%= @dog.owner.last_name %></li>
    <li>Address: <%= @dog.pick_up_address %></li>
    <li>Phone: <%= @dog.owner.telephone_number %></li>
    <li>Email: <%= @dog.owner.email %></li>
  </ul>

  <%= simple_form_for [@dog, @schedule] do |f| %>
    <%= f.input :monday%>
    <%= f.input :tuesday%>
    <%= f.input :wednesday%>
    <%= f.input :thursday%>
    <%= f.input :friday%>
    <%= f.submit %>
  <% end %>

  <%= link_to "Back", dogs_path %>
  <%= link_to "Edit", edit_dog_path %>
  <%= link_to "Delete", dog_path(@dog), method: :delete %>
</div>
</div>
