<div class="header">
  <h1><%= @dog.name.upcase %></h1>
</div>
<div class="container">
  <div class="owner-card">
    <div class="center-avatar">
    <%= cl_image_tag @dog.image.key, height: 150, width: 150, crop: :fill%>
    </div>
    <ul>
      <li><span>Breed:</span> <%= @dog.breed %></li>
      <li><span>Notes:</span> <%= @dog.special_requirements %><br><br></li>
      <li><span>Owner:</span> <%= @dog.owner.first_name %> <%= @dog.owner.last_name %></li>
      <li><span>Address:</span> <%= @dog.pick_up_address %></li>
      <li><span>Phone:</span> <%= @dog.owner.telephone_number %></li>
      <li><span>Email:</span> <%= @dog.owner.email %></li>
    </ul>
  </div>

    <%= simple_form_for [@dog, @schedule], html: { class: "form-inline"} do |f| %>
      <%= f.input :monday, label: "MON", input_html: { class: 'input_class' }%>
      <%= f.input :tuesday, label: "TUE", input_html: { class: 'input_class' }%>
      <%= f.input :wednesday, label: "WED", input_html: { class: 'input_class' }%>
      <%= f.input :thursday, label: "THU", input_html: { class: 'input_class' }%>
      <%= f.input :friday, label: "FRI", input_html: { class: 'input_class' }%>
      <%= f.submit %>
    <% end %>

    <%= link_to "Back", dogs_path %>
    <%= link_to "Edit", edit_dog_path %>
    <%= link_to "Delete", dog_path(@dog), method: :delete %>
  </div>
</div>
