<div class="main-container">
  <div class="header">
    <h1><%= @dog.name.upcase %></h1>
  </div>

  <div class="container">
    <div class="owner-card">
      <div class="center-avatar">
        <%= cl_image_tag @dog.image.key, height: 150, width: 150, crop: :fill%>
      </div>

      <h3 class="dog_show_info"> Your Schedule With <%= @dog.name %></h3>
      <p class="schedule_label">Select days to change <%= @dog.name %>'s schedule</p>
      <%= simple_form_for [@dog, @schedule], html: { class: "form-inline"} do |f| %>
        <%= f.input :monday, label: "MON", label_html: { class: 'btn-day' }%>
        <%= f.input :tuesday, label: "TUE", label_html: { class: 'btn-day' }%>
        <%= f.input :wednesday, label: "WED", label_html: { class: 'btn-day' }%>
        <%= f.input :thursday, label: "THU", label_html: { class: 'btn-day' }%>
        <%= f.input :friday, label: "FRI", label_html: { class: 'btn-day' }%>
        <%= f.submit 'SAVE', class: "btn btn-flat" %><% end %>

      <p class="schedule_label">Owner Information</p>
      <%= link_to edit_dog_path do %>
              <i class="fas fa-edit" style="float:right;"></i>
            <% end %>

      <ul class="dog-info">
        <li><span><i class="fas fa-user"></i></span> <%= @dog.owner.first_name %>
          <%= @dog.owner.last_name %></li>
        <li><span><i class="fas fa-map-marker-alt"></i></span> <%= @dog.pick_up_address %></li>
        <li><span><i class="fas fa-phone"></i></span> <%= @dog.owner.telephone_number %></li>
      </ul>
    </div>
    <div class="row justify-content-center">

      <div class="btn btn-empty kill-a-dog ">
        <%= link_to "DELETE", dog_path(@dog), method: :delete %>
          <!-- <i class="fas fa-trash" style="float:right;"></i> -->
      </div>
    </div>
  </div>
</div>
