
<p> Schedule</p>




<% @days_from_this_week.each do |day| %>
  <%= link_to day.strftime("%A"), walks_schedule_path(day)%>
<% end %>


<% @walk.slots.each do |st|  %>
  <p> <%= st.dog.name %> </p>
<% end %>


<!-- simple form add_slot_path  -->

<%= simple_form_for @slot, method: :post do |f|%>
  <%= f.association :dog, collection: Dog.all.order(:name),prompt: 'Select Dog' %>
  <%= f.input :walk_id, :as => :hidden, :input_html => { :value => @walk.id } %>
  <%= f.submit "+"%>
<% end %>

<!-- show the list of dogs who doesnt have todays schedule


link_to 'Delete', manage_user_path(user), method: :delete
<%= link_to @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'user' do %>
      <i class="fa fa-trash fa-2x"></i>
   <% end %>
--->







