
<!-- <div class = "container"> -->
<!-- <div class="Index-header">
  <h2> Schedule </h2>
</div>
 -->

<!--------Displaying weekdays  -->

  <% @days_from_this_week.each do |day| %>

    <div class ="days_list" >
      <%= link_to day.strftime("%A").first(3), walks_schedule_path(day), class: "font-weight-bold" %>
       <i class="far fa-horizontal-rule"></i>

    </div>
  <% end %>


<!---------Displaying list of dogs  -->
  <% @walk.slots.each do |st|  %>
    <div class = "card-product">
     <%= cl_image_tag st.dog.image.key, height: 80, width: 80, crop: :fill  %>
      <div class="card-product-infos">
        <h2><%= st.dog.name %></h2>
      </div>
        <div class="icon-container">
          <%= link_to @slot, method: :delete do %>
          <!-- <i class="fas fa-minus-circle icon_style"></i> -->
          <i class="fas fa-times"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>



<!-- simple form for add_slot_path ,
should show only the list of dogs who doesnt have todays schedule
 -->
<br>
<div class="container">
  <%= simple_form_for @slot, method: :post do |f|%>
    <%= f.association :dog, collection: Dog.all.order(:name),prompt: 'Add a new slot for ', label: false, input_html: {class: "form-rounded"}  %>
    <%= f.input :walk_id, :as => :hidden, :input_html => { :value => @walk.id } %>
    <%= f.submit class: 'button plus' do %><i class="fas fa-plus"></i><% end %>
  <% end %>
</div>

<!--

link_to 'Delete', manage_user_path(user), method: :delete
<%= link_to @slot, method: :delete do %>
      <i class="fa fa-trash fa-2x"></i>
   <% end %>
--->







